/*html{
    background-color:#2F2F2F;
}

body{
    height: 100%;
    background-color:rgb(245, 245, 245);
}


#header {
    top: 0;
    width: 113%;
    height: 5%;
    position: fixed;
    font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    !* text-transform: uppercase;*!
    background-color: #272727;
    border-bottom: 2px solid hsl(180,70%,55%);
    padding-top:20px;
}

#footer {
    left: 0;
    bottom: 0;
    width: 113%;
    height: 5%;
    position: fixed;
    font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    background-color: #272727;
    padding-top:20px;
    text-align:center;
}

#languages {
    float:left;
    margin-left: 10px;
    display: inline-block;
}


#sidemenu {
    width: 14%;
    background-color:#2B2B2B;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: relative;
    left: 0;
    top: 0;
}

#sidemenu #menu {
    color: #fff;
    text-align: left;
    list-style-type: none;
    float: left;
}

#sidemenu #menu li {
  !*  width: 7%;
    height: 1%;*!
    width: 100%;
    font-size: 1.2vw;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#sidemenu #menu li:active{
    border-left: 5px solid hsl(180,70%,55%);
}

#sidemenu #menu li:hover {
    background-color: #635555;
    border-left: 5px solid hsl(180,70%,55%);
}

.logo{
    float:inherit;
    width: 150px;
}

#site-content {
    margin-left:230px;
    width: calc(100% - 230px);
    height: 85%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    min-height: 600px;
    padding-left:10px;
    margin-top: 80px;
    margin-bottom: 100px;
}*/

